In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

In [2]:
demo_df= pd.read_csv('demographics.csv')

In [3]:
demo_df.head()

,Participant ID,ETHNICITY,Date of GDM Diagnosis,Estimated Date of Delivery,Maternal age at childs date of birth (years),Gestational age at GDM Diagnosis (weeks),OGTT fasting blood glucose \nmmol/l,OGTT 2-hour postload blood glucose\nmmol/l,Registerable parity,Mother's weight at start of pregnancy (booking appointment),...,Gestational pre-eclampsia YES/NO,History of PCOS YES/NO,Family history of hypertension YES/NO,Gestational Hypertension YES/NO,Family History of Diabetes/GDM YES/NO,GDM lifestyle changes treatment YES/NO,Gestational age at GDM lifetsyle changes treatment (weeks),Gestational age at GDM diet treatment (weeks),Gestational age at GDM metformin treatment (weeks),Gestational age at GDM insulin treatment (weeks)
0,BRA001,Pakistani,04/06/2019,12/11/2019,32,17,6.1,5.2,g4p3,76.8,...,NO,NO,NO,NO,YES - Father Diabetic,YES-Dietician Review 18/6/2019,19,19,NaN,NaN
1,BRA002,Pakistani,30/05/2019,31/08/2019,20,27+1,5.1,7.8,g2p0,62.0,...,NO,NO,NO,NO,YES - Grandmother T2DM,YES-Dietician Review 21/6/2019,30+2,30+2,NaN,NaN
2,BRA003,Pakistani,03/06/2019,02/09/2019,32,29+4,6.6,10.4,g7p2,84.0,...,NO,NO,NO,NO,YES-Grandfather/Aunties T2DM,YES-Dietician Review 21/6/2019,32+1,32+1,NaN,33
3,BRA004,White British,05/06/2019,08/09/2019,30,28,4.3,8.4,g2p0,63.5,...,NO,NO,NO,NO,NO FAMILY HISTORY OF DIABETES,YES-Dietician Review 21/6/2019,30+2,30+2,NaN,NaN
4,BRA005,Pakistani,10/06/2019,18/10/2019,39,21+3,4.8,9.0,g7p6,86.2,...,NO,NO,YES,NO,NO FAMILY HISTORY OF DIABETES,YES-Dietician Review 21/6/2019,23,23,NaN,NaN

# Ethnicity

In [4]:
print(demo_df["ETHNICITY"].unique())

['Pakistani' 'White British' 'pakistani' 'Indian' 'indian' 'Arabic'
 'Rominian' 'Bangladeshi' 'slovakian' 'polish' 'other/Afghan' 'Gambian'
 'Kosovan' 'Lithuanian' 'British' 'White/African' 'Bengali'
 'White/Black African' 'African' 'Kurdish' 'Russian' 'Hungarian' 'Other']

group ehtnicities to:

South Asian: Pakistani, pakistani, Indian, indian, Bangladeshi, bangladeshi, Bengali, other/Afghan

White: White British, British, Rominian, slovakian, polish, Russian, Hungarian, 'Kosovan' 'Lithuanian' 

Other: Arabic, Gambian, White/African, White/Black African, African, Kurdish, Other

In [5]:
col         = 'ETHNICITY'
conditions  = [ (demo_df[col].isin(['Pakistani', 'pakistani', 'Indian', 'indian',
                               'Bangladeshi', 'bangladeshi', 'Bengali', 'other/Afghan'])),
               (demo_df[col].isin(['White British', 'British', 'Rominian', 'slovakian',
                              'polish', 'Russian', 'Hungarian', 'Kosovan', 'Lithuanian'])),
               (demo_df[col].isin(['Arabic', 'Gambian', 'White/African', 'White/Black African', 
                              'African', 'Kurdish', 'Other']))]
                              
choices     = ['South Asian', 'White', 'Other']
    
demo_df['ethnicity'] = np.select(conditions, choices, default=np.nan)

#df5.to_csv('ethnicity.csv', index=False)

In [6]:
print(demo_df["ethnicity"].unique())

['South Asian' 'White' 'Other']

In [7]:
demo_df["ethnicity"].value_counts(dropna=False)

South Asian    147
White           45
Other            8
Name: ethnicity, dtype: int64

In [8]:
# Drop old Ethnicity column
demo_df=demo_df.drop(columns=["ETHNICITY"])

# Gestational Age

In [9]:
string = "27+1"
substring=string.split("+",1)
print(substring[0])

27

In [10]:
substring = (demo_df["Gestational age at GDM Diagnosis (weeks)"].str.split("+", n = 1, expand = True))
demo_df["gestationalAgeAtGDMDiagnosis"] = substring[0]
demo_df["gestationalAgeAtGDMDiagnosis"]

0      17
1      27
2      29
3      28
4      21
       ..
195    28
196    16
197    25
198    25
199    25
Name: gestationalAgeAtGDMDiagnosis, Length: 200, dtype: object

In [11]:
# Drop old Gestational age at GDM Diagnosis (weeks) column
demo_df=demo_df.drop(columns=["Gestational age at GDM Diagnosis (weeks)"])

# parity and gravidity

In [12]:
demo_df['Registerable parity']

0      g4p3
1      g2p0
2      g7p2
3      g2p0
4      g7p6
       ...
195    g3p1
196    g4p3
197    g1p0
198    g1p0
199    g4p3
Name: Registerable parity, Length: 200, dtype: object

In [13]:
demo_df[['gravidity','parity']] = demo_df['Registerable parity'].str.extract(r'g(\d+)p(\d+)')

In [14]:
demo_df['gravidity']

0      4
1      2
2      7
3      2
4      7
      ..
195    3
196    4
197    1
198    1
199    4
Name: gravidity, Length: 200, dtype: object

In [15]:
demo_df['parity']

0      3
1      0
2      2
3      0
4      6
      ..
195    1
196    3
197    0
198    0
199    3
Name: parity, Length: 200, dtype: object

In [16]:
# Drop old Registable parity column
demo_df=demo_df.drop(columns=["Registerable parity"])

# Previous GDM Diagnosis

If 'YES' is in string, change it to 1, otherwise, chnage to '0'

In [17]:
demo_df['previousGDM'] = demo_df['Previous GDM Diagnosis YES/NO'].apply(lambda x: 'Yes' if 'YES' in x else 'No')

In [18]:
demo_df['previousGDM']

0      Yes
1       No
2       No
3       No
4      Yes
      ...
195     No
196    Yes
197     No
198     No
199    Yes
Name: previousGDM, Length: 200, dtype: object

In [19]:
# Drop old Previous GDM Diagnosis column
demo_df=demo_df.drop(columns=["Previous GDM Diagnosis YES/NO"])

# Family History of Diabetes/GDM YES/NO

In [20]:
#demo_df['familyHistoryDiabetes'] = demo_df['Family History of Diabetes/GDM YES/NO'].apply(lambda x: 'Yes' if 'YES' in x else 'No')#
#demo_df['familyHistoryDiabetes']

In [21]:
#if 'MICHAEL89'.casefold() in map(str.casefold, USERNAMES):


#demo_df['familyHistoryDiabetes'] = demo_df['Family History of Diabetes/GDM YES/NO'].apply(lambda x: 'Yes' 
#                                                                                if 'YES'.casefold() in map(str.casefold, x)
#                                                                                else 'No')

In [22]:
demo_df['familyHistoryDiabetes'] = np.where(demo_df['Family History of Diabetes/GDM YES/NO'].str.contains('Yes',case = False),
                     'YES', 
                     'NO')
demo_df['familyHistoryDiabetes']

0      YES
1      YES
2      YES
3       NO
4       NO
      ...
195     NO
196    YES
197    YES
198    YES
199     NO
Name: familyHistoryDiabetes, Length: 200, dtype: object

In [23]:
#pd.set_option('display.max_rows', None)

demo_df['familyHistoryGDM']= demo_df['Family History of Diabetes/GDM YES/NO'].apply(lambda x: 'YES' if 'GDM' in x else 'NO')
demo_df['familyHistoryGDM']

0      NO
1      NO
2      NO
3      NO
4      NO
       ..
195    NO
196    NO
197    NO
198    NO
199    NO
Name: familyHistoryGDM, Length: 200, dtype: object

In [24]:
# Drop old Family History of Diabetes Diagnosis column
demo_df=demo_df.drop(columns=["Family History of Diabetes/GDM YES/NO"])

    # GDM lifestyle changes treatment YES/NO

In [25]:
demo_df=demo_df.drop(columns=["GDM lifestyle changes treatment YES/NO"])

REMOVE COLUMN, ALL VALUES 'YES', MEANING THERE IS NO VARIANCE IN DATA AND THEREFORE NO INFORMATION

# Gestational age at GDM lifetsyle changes treatment (weeks)

In [26]:
substring = (demo_df["Gestational age at GDM lifetsyle changes treatment (weeks)"].str.split("+", n = 1, expand = True))
demo_df["GDMLifestyleGestWeek"] = substring[0]
demo_df["GDMLifestyleGestWeek"]

0      19
1      30
2      32
3      30
4      23
       ..
195    30
196    18
197    27
198    27
199    27
Name: GDMLifestyleGestWeek, Length: 200, dtype: object

In [27]:
# Drop old Gestational age at GDM lifetsyle changes treatment (weeks) column
demo_df=demo_df.drop(columns=["Gestational age at GDM lifetsyle changes treatment (weeks)"])

# Gestational age at GDM diet treatment (weeks)

In [28]:
substring = (demo_df["Gestational age at GDM diet treatment (weeks)"].str.split("+", n = 1, expand = True))
demo_df["GDMDietGestWeek"] = substring[0]
demo_df["GDMDietGestWeek"]

0      19
1      30
2      32
3      30
4      23
       ..
195    30
196    18
197    27
198    27
199    27
Name: GDMDietGestWeek, Length: 200, dtype: object

In [29]:
# Drop old Gestational age at GDM diet treatment (weeks) column
demo_df=demo_df.drop(columns=["Gestational age at GDM diet treatment (weeks)"])

# Gestational age at GDM metformin treatment (weeks)

In [30]:
substring = (demo_df["Gestational age at GDM metformin treatment (weeks)"].str.split("+", n = 1, expand = True))
demo_df["GDMMetforminGestWeek"] = substring[0]
demo_df["GDMMetforminGestWeek"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
195    NaN
196    NaN
197     28
198    NaN
199    NaN
Name: GDMMetforminGestWeek, Length: 200, dtype: object

In [31]:
# Drop old Gestational age at GDM metformin treatment (weeks) column
demo_df=demo_df.drop(columns=["Gestational age at GDM metformin treatment (weeks)"])

# Gestational age at GDM insulin treatment (weeks)

In [32]:
substring = (demo_df["Gestational age at GDM insulin treatment (weeks)"].str.split("+", n = 1, expand = True))
demo_df["GDMInsulinGestWeek"] = substring[0]

#pd.set_option('display.max_rows', None)
demo_df["GDMInsulinGestWeek"]

0      NaN
1      NaN
2       33
3      NaN
4      NaN
      ...
195    NaN
196     28
197    NaN
198     28
199    NaN
Name: GDMInsulinGestWeek, Length: 200, dtype: object

In [33]:
# Drop old Gestational age at GDM insulin treatment (weeks) column
demo_df=demo_df.drop(columns=["Gestational age at GDM insulin treatment (weeks)"])

# Create flag features for GDM Insulin/ Metformin treatment

In [34]:
demo_df['GDMMetforminGestWeek'].isna().sum()

149

In [35]:
# yes if prescribed, no if not
demo_df['metforminFlag'] = demo_df['GDMMetforminGestWeek'].apply(lambda x: 'NO' if pd.isna(x) else 'YES')
demo_df['metforminFlag'].value_counts()

NO     149
YES     51
Name: metforminFlag, dtype: int64

In [36]:
demo_df['GDMInsulinGestWeek'].isna().sum()

145

In [37]:
# yes if prescribed, no if not
demo_df['insulinFlag'] = demo_df['GDMInsulinGestWeek'].apply(lambda x: 'NO' if pd.isna(x) else 'YES')
demo_df['insulinFlag'].value_counts()

NO     145
YES     55
Name: insulinFlag, dtype: int64

# convert all dates to datetime

In [38]:
#convert all dates to datetime
demo_df['Date of GDM Diagnosis'] = pd.to_datetime(demo_df['Date of GDM Diagnosis'], dayfirst=True)
demo_df['Estimated Date of Delivery'] = pd.to_datetime(demo_df['Estimated Date of Delivery'], dayfirst=True)

In [39]:
demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 29 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Participant ID                                               200 non-null    object
 1   Date of GDM Diagnosis                                        200 non-null    datetime64[ns]
 2   Estimated Date of Delivery                                   200 non-null    datetime64[ns]
 3   Maternal age at childs date of birth (years)                 200 non-null    int64
 4   OGTT fasting blood glucose
mmol/l                           200 non-null    float64
 5   OGTT 2-hour postload blood glucose
mmol/l                    200 non-null    float64
 6   Mother's weight at start of pregnancy (booking appointment)  200 non-null    float64
 7   Mother's Height (cm)                                         200 non-null    int64
 8   Mother's booking BMI                                         200 non-null    float64
 9   Mother's weight in 3rd trimester (kg)                        200 non-null    float64
 10  Previous macrosomic infant YES/NO                            200 non-null    object
 11  Family history of eclampsia YES/NO                           200 non-null    object
 12  Gestational pre-eclampsia YES/NO                             200 non-null    object
 13  History of PCOS YES/NO                                       200 non-null    object
 14  Family history of hypertension YES/NO                        200 non-null    object
 15  Gestational Hypertension YES/NO                              200 non-null    object
 16  ethnicity                                                    200 non-null    object
 17  gestationalAgeAtGDMDiagnosis                                 200 non-null    object
 18  gravidity                                                    200 non-null    object
 19  parity                                                       200 non-null    object
 20  previousGDM                                                  200 non-null    object
 21  familyHistoryDiabetes                                        200 non-null    object
 22  familyHistoryGDM                                             200 non-null    object
 23  GDMLifestyleGestWeek                                         200 non-null    object
 24  GDMDietGestWeek                                              200 non-null    object
 25  GDMMetforminGestWeek                                         51 non-null     object
 26  GDMInsulinGestWeek                                           55 non-null     object
 27  metforminFlag                                                200 non-null    object
 28  insulinFlag                                                  200 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(2), object(20)
memory usage: 45.4+ KB

In [40]:
# convert YES/NO columns to all uppercase
demo_df['Previous macrosomic infant YES/NO'] = demo_df['Previous macrosomic infant YES/NO'].str.upper()
demo_df['Family history of eclampsia YES/NO'] = demo_df['Family history of eclampsia YES/NO'].str.upper()
demo_df['Gestational pre-eclampsia YES/NO'] = demo_df['Gestational pre-eclampsia YES/NO'].str.upper()
demo_df['History of PCOS YES/NO'] = demo_df['History of PCOS YES/NO'].str.upper()
demo_df['Family history of hypertension YES/NO'] = demo_df['Family history of hypertension YES/NO'].str.upper()
demo_df['Gestational Hypertension YES/NO']= demo_df['Gestational Hypertension YES/NO'].str.upper()


#print(demo_df['Gestational Hypertension YES/NO'].unique())

In [41]:
# Rename features
demo_df=demo_df.rename(columns={"Date of GDM Diagnosis":"GDMDiagnosisDate", "Estimated Date of Delivery":"estimatedDeliveryDate",
                               "Maternal age at childs date of birth (years)": "maternalAgeAtBirth", 
                               "OGTT fasting blood glucose \nmmol/l": "OGTTfasting", 
                                "OGTT 2-hour postload blood glucose\nmmol/l": "OGTT2hour",
                               "Mother's weight at start of pregnancy (booking appointment)": "maternalWeightAtBooking",
                               "Mother's Height (cm)": "maternalHeight", "Mother's booking BMI": "maternalBMIAtBooking",
                               "Mother's weight in 3rd trimester (kg) ": "maternalWeight3rdTrimester", 
                               "Previous macrosomic infant YES/NO": "prevMacrosomia",
                               "Family history of eclampsia YES/NO": "eclampsiaFH",
                                "Gestational pre-eclampsia YES/NO": "gestationalPre-eclampsia",
                                "History of PCOS YES/NO": "pcos",
                               "Family history of hypertension YES/NO": "hypertensionFH", 
                               "Gestational Hypertension YES/NO": "gestationalHypertension",
                               })

In [42]:
demo_df.head()

,Participant ID,GDMDiagnosisDate,estimatedDeliveryDate,maternalAgeAtBirth,OGTTfasting,OGTT2hour,maternalWeightAtBooking,maternalHeight,maternalBMIAtBooking,maternalWeight3rdTrimester,...,parity,previousGDM,familyHistoryDiabetes,familyHistoryGDM,GDMLifestyleGestWeek,GDMDietGestWeek,GDMMetforminGestWeek,GDMInsulinGestWeek,metforminFlag,insulinFlag
0,BRA001,2019-06-04,2019-11-12,32,6.1,5.2,76.8,167,26.9,84.1,...,3,Yes,YES,NO,19,19,NaN,NaN,NO,NO
1,BRA002,2019-05-30,2019-08-31,20,5.1,7.8,62.0,163,23.0,69.2,...,0,No,YES,NO,30,30,NaN,NaN,NO,NO
2,BRA003,2019-06-03,2019-09-02,32,6.6,10.4,84.0,159,33.2,93.5,...,2,No,YES,NO,32,32,NaN,33,NO,YES
3,BRA004,2019-06-05,2019-09-08,30,4.3,8.4,63.5,163,23.9,68.3,...,0,No,NO,NO,30,30,NaN,NaN,NO,NO
4,BRA005,2019-06-10,2019-10-18,39,4.8,9.0,86.2,162,32.8,93.5,...,6,Yes,NO,NO,23,23,NaN,NaN,NO,NO

In [43]:
demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Participant ID                200 non-null    object
 1   GDMDiagnosisDate              200 non-null    datetime64[ns]
 2   estimatedDeliveryDate         200 non-null    datetime64[ns]
 3   maternalAgeAtBirth            200 non-null    int64
 4   OGTTfasting                   200 non-null    float64
 5   OGTT2hour                     200 non-null    float64
 6   maternalWeightAtBooking       200 non-null    float64
 7   maternalHeight                200 non-null    int64
 8   maternalBMIAtBooking          200 non-null    float64
 9   maternalWeight3rdTrimester    200 non-null    float64
 10  prevMacrosomia                200 non-null    object
 11  eclampsiaFH                   200 non-null    object
 12  gestationalPre-eclampsia      200 non-null    object
 13  pcos                          200 non-null    object
 14  hypertensionFH                200 non-null    object
 15  gestationalHypertension       200 non-null    object
 16  ethnicity                     200 non-null    object
 17  gestationalAgeAtGDMDiagnosis  200 non-null    object
 18  gravidity                     200 non-null    object
 19  parity                        200 non-null    object
 20  previousGDM                   200 non-null    object
 21  familyHistoryDiabetes         200 non-null    object
 22  familyHistoryGDM              200 non-null    object
 23  GDMLifestyleGestWeek          200 non-null    object
 24  GDMDietGestWeek               200 non-null    object
 25  GDMMetforminGestWeek          51 non-null     object
 26  GDMInsulinGestWeek            55 non-null     object
 27  metforminFlag                 200 non-null    object
 28  insulinFlag                   200 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(2), object(20)
memory usage: 45.4+ KB

In [44]:
demo_df.to_csv('demographics_cleaned.csv', index=False)

# Ultrasound Data File

In [116]:
# manually edited ultrasound.csv to rename and fix heirarchical index issue
# manually removed "1" from unnamed columns at end of dataframe
us_df= pd.read_csv('ultrasoundscans.csv')

In [117]:
us_df.head()

,Participant ID,AC_20Weeks,EFW_20Weeks,AC_28Weeks,EFW_28Weeks,AC_30Weeks,EFW_30Weeks,AC_32Weeks,EFW_32Weeks,AC_34Weeks,EFW_34Weeks,AC_36Weeks,EFW_36Weeks,AC_38Weeks,EFW_38Weeks
0,BRA001,137.6,281g,230.1,1184g,No data,No data,265,1828g,No data,No data,308.7,2651g,No Data,No data
1,BRA002,133.5,264g,No Data,No Data,272,1665g,No Data,No Data,292,2260g,No Data,No Data,319.9,2927
2,BRA003,142,308g,No Data,No Data,264,1673g,No Data,No Data,318.4,2759g,No Data,No Data,328.7,3265g
3,BRA004,153.7,362g,238,1239g,272.7,1744g,No Data,No Data,318.8,2640g,No Data,No Data,342,3271g
4,BRA005,152.8,336g,228.7,1073g,No data,No data,274.3,1909g,No data,No data,324.3,2944g,No Data,No data

In [118]:
# us.replace('No Data', np.nan) case sensitive

us_df = us_df.replace('(?i)No Data', np.nan, regex=True)

In [119]:
#remove 'g' from measurments
us_df = us_df.apply(lambda x: x.str.rstrip('g'))

In [120]:
us_df.head()

,Participant ID,AC_20Weeks,EFW_20Weeks,AC_28Weeks,EFW_28Weeks,AC_30Weeks,EFW_30Weeks,AC_32Weeks,EFW_32Weeks,AC_34Weeks,EFW_34Weeks,AC_36Weeks,EFW_36Weeks,AC_38Weeks,EFW_38Weeks
0,BRA001,137.6,281,230.1,1184,NaN,NaN,265,1828,NaN,NaN,308.7,2651,NaN,NaN
1,BRA002,133.5,264,NaN,NaN,272,1665,NaN,NaN,292,2260,NaN,NaN,319.9,2927
2,BRA003,142,308,NaN,NaN,264,1673,NaN,NaN,318.4,2759,NaN,NaN,328.7,3265
3,BRA004,153.7,362,238,1239,272.7,1744,NaN,NaN,318.8,2640,NaN,NaN,342,3271
4,BRA005,152.8,336,228.7,1073,NaN,NaN,274.3,1909,NaN,NaN,324.3,2944,NaN,NaN

In [121]:
#change cols from object to numeric
cols = us_df.columns.drop('Participant ID')
us_df[cols] = us_df[cols].apply(pd.to_numeric, errors='coerce')

In [122]:
us_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Participant ID  200 non-null    object
 1   AC_20Weeks      163 non-null    float64
 2   EFW_20Weeks     163 non-null    float64
 3   AC_28Weeks      101 non-null    float64
 4   EFW_28Weeks     101 non-null    float64
 5   AC_30Weeks      80 non-null     float64
 6   EFW_30Weeks     80 non-null     float64
 7   AC_32Weeks      126 non-null    float64
 8   EFW_32Weeks     125 non-null    float64
 9   AC_34Weeks      81 non-null     float64
 10  EFW_34Weeks     81 non-null     float64
 11  AC_36Weeks      149 non-null    float64
 12  EFW_36Weeks     149 non-null    float64
 13  AC_38Weeks      51 non-null     float64
 14  EFW_38Weeks     51 non-null     float64
dtypes: float64(14), object(1)
memory usage: 23.6+ KB

In [123]:
AC_cols = ["AC_20Weeks", "AC_28Weeks", "AC_30Weeks","AC_32Weeks","AC_34Weeks","AC_36Weeks","AC_38Weeks"]
EFW_cols = ["EFW_20Weeks", "EFW_28Weeks", "EFW_30Weeks","EFW_32Weeks","EFW_34Weeks","EFW_36Weeks","EFW_38Weeks"]

In [124]:
us_df["meanAC"] = us_df[AC_cols].mean(axis=1)
us_df["maxAC"] = us_df[AC_cols].max(axis=1)
us_df["minAC"] = us_df[AC_cols].min(axis=1)
us_df["varAC"] = us_df[AC_cols].var(axis=1)

us_df["rangeAC"] = us_df["maxAC"]- us_df["minAC"]

In [126]:
us_df["meanEFW"] = us_df[EFW_cols].mean(axis=1)
us_df["maxEFW"] = us_df[EFW_cols].max(axis=1)
us_df["minEFW"] = us_df[EFW_cols].min(axis=1)
us_df["varEFW"] = us_df[EFW_cols].var(axis=1)

us_df["rangeEFW"] = us_df["maxEFW"]- us_df["minEFW"]

In [127]:
us_df.head()

,Participant ID,AC_20Weeks,EFW_20Weeks,AC_28Weeks,EFW_28Weeks,AC_30Weeks,EFW_30Weeks,AC_32Weeks,EFW_32Weeks,AC_34Weeks,...,meanAC,maxAC,minAC,varAC,rangeAC,meanEFW,maxEFW,minEFW,varEFW,rangeEFW
0,BRA001,137.6,281.0,230.1,1184.0,NaN,NaN,265.0,1828.0,NaN,...,235.350,308.7,137.6,5280.656667,171.1,1486.00,2651.0,281.0,1.005806e+06,2370.0
1,BRA002,133.5,264.0,NaN,NaN,272.0,1665.0,NaN,NaN,292.0,...,254.350,319.9,133.5,6876.856667,186.4,1779.00,2927.0,264.0,1.285829e+06,2663.0
2,BRA003,142.0,308.0,NaN,NaN,264.0,1673.0,NaN,NaN,318.4,...,263.275,328.7,142.0,7342.449167,186.7,2001.25,3265.0,308.0,1.715364e+06,2957.0
3,BRA004,153.7,362.0,238.0,1239.0,272.7,1744.0,NaN,NaN,318.8,...,265.040,342.0,153.7,5499.853000,188.3,1851.20,3271.0,362.0,1.310509e+06,2909.0
4,BRA005,152.8,336.0,228.7,1073.0,NaN,NaN,274.3,1909.0,NaN,...,245.025,324.3,152.8,5304.502500,171.5,1565.50,2944.0,336.0,1.257494e+06,2608.0

In [128]:
# drop non-summary ultrasound features
us_df = us_df.drop(AC_cols,axis=1)
us_df = us_df.drop(EFW_cols,axis=1)
us_df.head()

,Participant ID,meanAC,maxAC,minAC,varAC,rangeAC,meanEFW,maxEFW,minEFW,varEFW,rangeEFW
0,BRA001,235.350,308.7,137.6,5280.656667,171.1,1486.00,2651.0,281.0,1.005806e+06,2370.0
1,BRA002,254.350,319.9,133.5,6876.856667,186.4,1779.00,2927.0,264.0,1.285829e+06,2663.0
2,BRA003,263.275,328.7,142.0,7342.449167,186.7,2001.25,3265.0,308.0,1.715364e+06,2957.0
3,BRA004,265.040,342.0,153.7,5499.853000,188.3,1851.20,3271.0,362.0,1.310509e+06,2909.0
4,BRA005,245.025,324.3,152.8,5304.502500,171.5,1565.50,2944.0,336.0,1.257494e+06,2608.0

In [129]:
us_df.to_csv("ultrasound_statistics.csv", index=False)

# Feotal Data File

In [130]:
# manually edited livebirth and stillbirth columns,
# removed extra info in column and added it to new feature called "extra info"

In [131]:
foetal_df = pd.read_csv('foetal.csv')

In [132]:
foetal_df.head()

,Participant ID,DATE OF BIRTH,VAGINAL BIRTH,CESARIAN BIRTH,SEX,WEIGHT (grms),Gestational age at delivery (weeks),Large for gestational age (>90th centile),Small for gestational age (<10th centile),Outcome of Birth: LIVEBIRTH or STILLBIRTH,Extra Information
0,BRA001,10/11/2019,Y,NaN,female,3490,40+1,NaN,NaN,LIVEBIRTH,NaN
1,BRA002,02/09/2019,Y,NaN,female,3980,40+5,NaN,NaN,LIVEBIRTH,NaN
2,BRA003,19/08/2019,Y,NaN,female,2960,38,NaN,NaN,LIVEBIRTH,NaN
3,BRA004,24/08/2019,NaN,Y,Male,3400,39+3,NaN,NaN,LIVEBIRTH,NaN
4,BRA005,10/10/2019,Y,NaN,Female,3330,38+2,NaN,NaN,LIVEBIRTH,NaN

In [133]:
# drop extra information column for now
foetal_df = foetal_df.drop(columns={'Extra Information'})

In [134]:
# fill blanks with 'NO'
# make yes and no capital similar to demographics.csv

foetal_df['VAGINAL BIRTH'] = foetal_df['VAGINAL BIRTH'].replace('(?i)y', 'YES', regex=True)
foetal_df['VAGINAL BIRTH']=foetal_df['VAGINAL BIRTH'].fillna('NO')

foetal_df['CESARIAN BIRTH'] = foetal_df['CESARIAN BIRTH'].replace('(?i)y', 'YES', regex=True)
foetal_df['CESARIAN BIRTH']=foetal_df['CESARIAN BIRTH'].fillna('NO')

In [135]:
foetal_df.head()

,Participant ID,DATE OF BIRTH,VAGINAL BIRTH,CESARIAN BIRTH,SEX,WEIGHT (grms),Gestational age at delivery (weeks),Large for gestational age (>90th centile),Small for gestational age (<10th centile),Outcome of Birth: LIVEBIRTH or STILLBIRTH
0,BRA001,10/11/2019,YES,NO,female,3490,40+1,NaN,NaN,LIVEBIRTH
1,BRA002,02/09/2019,YES,NO,female,3980,40+5,NaN,NaN,LIVEBIRTH
2,BRA003,19/08/2019,YES,NO,female,2960,38,NaN,NaN,LIVEBIRTH
3,BRA004,24/08/2019,NO,YES,Male,3400,39+3,NaN,NaN,LIVEBIRTH
4,BRA005,10/10/2019,YES,NO,Female,3330,38+2,NaN,NaN,LIVEBIRTH

In [136]:
print(foetal_df['VAGINAL BIRTH'].unique())
print(foetal_df['CESARIAN BIRTH'].unique())

['YES' 'NO']
['NO' 'YES']

In [137]:
# change SEX to only M, F
foetal_df['SEX'].unique()

array(['female', 'Male', 'Female', 'male'], dtype=object)

In [138]:
foetal_df['SEX'] = np.where(foetal_df['SEX'].str.contains('female',case = False),
                     'F', 
                     'M')

In [139]:
foetal_df['SEX'].unique()

array(['F', 'M'], dtype=object)

In [140]:
# make Gestational age at delivery (weeks) full weeks only
substring = (foetal_df["Gestational age at delivery (weeks)"].str.split("+", n = 1, expand = True))
foetal_df["Gestational age at delivery (weeks)"] = substring[0]
foetal_df["Gestational age at delivery (weeks)"]

0      40
1      40
2      38
3      39
4      38
       ..
195    39
196    38
197    38
198    38
199    36
Name: Gestational age at delivery (weeks), Length: 200, dtype: object

In [141]:
foetal_df.head()

,Participant ID,DATE OF BIRTH,VAGINAL BIRTH,CESARIAN BIRTH,SEX,WEIGHT (grms),Gestational age at delivery (weeks),Large for gestational age (>90th centile),Small for gestational age (<10th centile),Outcome of Birth: LIVEBIRTH or STILLBIRTH
0,BRA001,10/11/2019,YES,NO,F,3490,40,NaN,NaN,LIVEBIRTH
1,BRA002,02/09/2019,YES,NO,F,3980,40,NaN,NaN,LIVEBIRTH
2,BRA003,19/08/2019,YES,NO,F,2960,38,NaN,NaN,LIVEBIRTH
3,BRA004,24/08/2019,NO,YES,M,3400,39,NaN,NaN,LIVEBIRTH
4,BRA005,10/10/2019,YES,NO,F,3330,38,NaN,NaN,LIVEBIRTH

In [142]:
# change DATE OF BIRTH to datetime
foetal_df['DATE OF BIRTH'] = pd.to_datetime(foetal_df['DATE OF BIRTH'], dayfirst=True)

In [143]:
foetal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Participant ID                             200 non-null    object
 1   DATE OF BIRTH                              200 non-null    datetime64[ns]
 2   VAGINAL BIRTH                              200 non-null    object
 3   CESARIAN BIRTH                             200 non-null    object
 4   SEX                                        200 non-null    object
 5   WEIGHT (grms)                              200 non-null    int64
 6   Gestational age at delivery (weeks)        200 non-null    object
 7   Large for gestational age (>90th centile)  0 non-null      float64
 8   Small for gestational age (<10th centile)  0 non-null      float64
 9   Outcome of Birth: LIVEBIRTH or STILLBIRTH  200 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 15.8+ KB

In [144]:
foetal_df.head()

,Participant ID,DATE OF BIRTH,VAGINAL BIRTH,CESARIAN BIRTH,SEX,WEIGHT (grms),Gestational age at delivery (weeks),Large for gestational age (>90th centile),Small for gestational age (<10th centile),Outcome of Birth: LIVEBIRTH or STILLBIRTH
0,BRA001,2019-11-10,YES,NO,F,3490,40,NaN,NaN,LIVEBIRTH
1,BRA002,2019-09-02,YES,NO,F,3980,40,NaN,NaN,LIVEBIRTH
2,BRA003,2019-08-19,YES,NO,F,2960,38,NaN,NaN,LIVEBIRTH
3,BRA004,2019-08-24,NO,YES,M,3400,39,NaN,NaN,LIVEBIRTH
4,BRA005,2019-10-10,YES,NO,F,3330,38,NaN,NaN,LIVEBIRTH

In [145]:
foetal_df['Outcome of Birth: LIVEBIRTH or STILLBIRTH'].unique()

array(['LIVEBIRTH', 'STILLBIRTH'], dtype=object)

In [146]:
# Rename features

foetal_df = foetal_df.rename (columns={"DATE OF BIRTH":"foetalDOB","VAGINAL BIRTH":"vaginalBirth", 
                                       "CESARIAN BIRTH": "caesareanBirth", "SEX": "foetalSex", "WEIGHT (grms)":"foetalWeightInGrams",
                                      "Gestational age at delivery (weeks)": "gestationalAgeAtDeliveryInWeeks",
                                      "Large for gestational age (>90th centile)":"lga", 
                                       "Small for gestational age (<10th centile)":"sga",
                                      "Outcome of Birth: LIVEBIRTH or STILLBIRTH": "birthOutcome"})

In [147]:
foetal_df.head()

,Participant ID,foetalDOB,vaginalBirth,caesareanBirth,foetalSex,foetalWeightInGrams,gestationalAgeAtDeliveryInWeeks,lga,sga,birthOutcome
0,BRA001,2019-11-10,YES,NO,F,3490,40,NaN,NaN,LIVEBIRTH
1,BRA002,2019-09-02,YES,NO,F,3980,40,NaN,NaN,LIVEBIRTH
2,BRA003,2019-08-19,YES,NO,F,2960,38,NaN,NaN,LIVEBIRTH
3,BRA004,2019-08-24,NO,YES,M,3400,39,NaN,NaN,LIVEBIRTH
4,BRA005,2019-10-10,YES,NO,F,3330,38,NaN,NaN,LIVEBIRTH

In [148]:
foetal_df.to_csv("foetal_cleaned.csv", index=False)

# MERGE ALL DATA IN ONE DATAFRAME

In [149]:
# import BG summary data and rename columns
bg_df = pd.read_csv('bloodGlucoseSummary.csv')
bg_df=bg_df.rename(columns={"patientID":"Participant ID", "mean":"meanBG", "max":"maxBG"
                           , "min":"minBG", "var":"varBG", "count":"countBG", "std":"stdBG"
                           , "low":"lowBG", "normal":"normalBG", "high":"highBG"})
bg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Participant ID  200 non-null    object
 1   meanBG          200 non-null    float64
 2   maxBG           200 non-null    float64
 3   minBG           200 non-null    float64
 4   varBG           198 non-null    float64
 5   countBG         200 non-null    int64
 6   stdBG           198 non-null    float64
 7   lowBG           200 non-null    float64
 8   normalBG        200 non-null    float64
 9   highBG          200 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 15.8+ KB

In [151]:
# Some PARTICIPANT IDs contain spaces at the end, which will prevent proper merging, to correct this remove these spaces as such

#df["Participant ID"] = df["Participant ID"].str.rstrip()
demo_df["Participant ID"] = demo_df["Participant ID"].str.rstrip()
bg_df["Participant ID"] = bg_df["Participant ID"].str.rstrip()
us_df["Participant ID"] = us_df["Participant ID"].str.rstrip()
foetal_df["Participant ID"] = foetal_df["Participant ID"].str.rstrip()

In [152]:
df = pd.merge(demo_df, bg_df, on=('Participant ID'),  how='left')
df = pd.merge(df, us_df, on=('Participant ID'),  how='left')
df = pd.merge(df, foetal_df, on=('Participant ID'),  how='left')

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 57 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Participant ID                   200 non-null    object
 1   GDMDiagnosisDate                 200 non-null    datetime64[ns]
 2   estimatedDeliveryDate            200 non-null    datetime64[ns]
 3   maternalAgeAtBirth               200 non-null    int64
 4   OGTTfasting                      200 non-null    float64
 5   OGTT2hour                        200 non-null    float64
 6   maternalWeightAtBooking          200 non-null    float64
 7   maternalHeight                   200 non-null    int64
 8   maternalBMIAtBooking             200 non-null    float64
 9   maternalWeight3rdTrimester       200 non-null    float64
 10  prevMacrosomia                   200 non-null    object
 11  eclampsiaFH                      200 non-null    object
 12  gestationalPre-eclampsia         200 non-null    object
 13  pcos                             200 non-null    object
 14  hypertensionFH                   200 non-null    object
 15  gestationalHypertension          200 non-null    object
 16  ethnicity                        200 non-null    object
 17  gestationalAgeAtGDMDiagnosis     200 non-null    object
 18  gravidity                        200 non-null    object
 19  parity                           200 non-null    object
 20  previousGDM                      200 non-null    object
 21  familyHistoryDiabetes            200 non-null    object
 22  familyHistoryGDM                 200 non-null    object
 23  GDMLifestyleGestWeek             200 non-null    object
 24  GDMDietGestWeek                  200 non-null    object
 25  GDMMetforminGestWeek             51 non-null     object
 26  GDMInsulinGestWeek               55 non-null     object
 27  metforminFlag                    200 non-null    object
 28  insulinFlag                      200 non-null    object
 29  meanBG                           200 non-null    float64
 30  maxBG                            200 non-null    float64
 31  minBG                            200 non-null    float64
 32  varBG                            198 non-null    float64
 33  countBG                          200 non-null    int64
 34  stdBG                            198 non-null    float64
 35  lowBG                            200 non-null    float64
 36  normalBG                         200 non-null    float64
 37  highBG                           200 non-null    float64
 38  meanAC                           200 non-null    float64
 39  maxAC                            200 non-null    float64
 40  minAC                            200 non-null    float64
 41  varAC                            199 non-null    float64
 42  rangeAC                          200 non-null    float64
 43  meanEFW                          200 non-null    float64
 44  maxEFW                           200 non-null    float64
 45  minEFW                           200 non-null    float64
 46  varEFW                           199 non-null    float64
 47  rangeEFW                         200 non-null    float64
 48  foetalDOB                        200 non-null    datetime64[ns]
 49  vaginalBirth                     200 non-null    object
 50  caesareanBirth                   200 non-null    object
 51  foetalSex                        200 non-null    object
 52  foetalWeightInGrams              200 non-null    int64
 53  gestationalAgeAtDeliveryInWeeks  200 non-null    object
 54  lga                              0 non-null      float64
 55  sga                              0 non-null      float64
 56  birthOutcome                     200 non-null    object
dtypes: datetime64[ns](3), float64(25), int64(4), object(25)
memory usage: 90.6+ KB

# convert all following to numeric:
gravidity
parity 
gestationalAgeAtDeliveryInWeeks 
GDMLifestyleGestWeek
GDMDietGestWeek                  
GDMMetforminGestWeek
GDMInsulinGestWeek
GestationalAgeAtGDMDiagnosis

In [154]:
cols = ["gravidity", "parity", "gestationalAgeAtDeliveryInWeeks",
        "GDMLifestyleGestWeek", "GDMDietGestWeek", "GDMMetforminGestWeek", 
        "GDMInsulinGestWeek", "gestationalAgeAtGDMDiagnosis"]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 57 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Participant ID                   200 non-null    object
 1   GDMDiagnosisDate                 200 non-null    datetime64[ns]
 2   estimatedDeliveryDate            200 non-null    datetime64[ns]
 3   maternalAgeAtBirth               200 non-null    int64
 4   OGTTfasting                      200 non-null    float64
 5   OGTT2hour                        200 non-null    float64
 6   maternalWeightAtBooking          200 non-null    float64
 7   maternalHeight                   200 non-null    int64
 8   maternalBMIAtBooking             200 non-null    float64
 9   maternalWeight3rdTrimester       200 non-null    float64
 10  prevMacrosomia                   200 non-null    object
 11  eclampsiaFH                      200 non-null    object
 12  gestationalPre-eclampsia         200 non-null    object
 13  pcos                             200 non-null    object
 14  hypertensionFH                   200 non-null    object
 15  gestationalHypertension          200 non-null    object
 16  ethnicity                        200 non-null    object
 17  gestationalAgeAtGDMDiagnosis     200 non-null    int64
 18  gravidity                        200 non-null    int64
 19  parity                           200 non-null    int64
 20  previousGDM                      200 non-null    object
 21  familyHistoryDiabetes            200 non-null    object
 22  familyHistoryGDM                 200 non-null    object
 23  GDMLifestyleGestWeek             200 non-null    int64
 24  GDMDietGestWeek                  200 non-null    int64
 25  GDMMetforminGestWeek             51 non-null     float64
 26  GDMInsulinGestWeek               55 non-null     float64
 27  metforminFlag                    200 non-null    object
 28  insulinFlag                      200 non-null    object
 29  meanBG                           200 non-null    float64
 30  maxBG                            200 non-null    float64
 31  minBG                            200 non-null    float64
 32  varBG                            198 non-null    float64
 33  countBG                          200 non-null    int64
 34  stdBG                            198 non-null    float64
 35  lowBG                            200 non-null    float64
 36  normalBG                         200 non-null    float64
 37  highBG                           200 non-null    float64
 38  meanAC                           200 non-null    float64
 39  maxAC                            200 non-null    float64
 40  minAC                            200 non-null    float64
 41  varAC                            199 non-null    float64
 42  rangeAC                          200 non-null    float64
 43  meanEFW                          200 non-null    float64
 44  maxEFW                           200 non-null    float64
 45  minEFW                           200 non-null    float64
 46  varEFW                           199 non-null    float64
 47  rangeEFW                         200 non-null    float64
 48  foetalDOB                        200 non-null    datetime64[ns]
 49  vaginalBirth                     200 non-null    object
 50  caesareanBirth                   200 non-null    object
 51  foetalSex                        200 non-null    object
 52  foetalWeightInGrams              200 non-null    int64
 53  gestationalAgeAtDeliveryInWeeks  200 non-null    int64
 54  lga                              0 non-null      float64
 55  sga                              0 non-null      float64
 56  birthOutcome                     200 non-null    object
dtypes: datetime64[ns](3), float64(27), int64(10), object(17)
memory usage: 90.6+ KB

In [156]:
# remove 1 stillbirth
df.drop(df.index[df['birthOutcome'] == 'STILLBIRTH'], inplace=True)

# remove 3 premature infants <34 weeks
df.drop(df.index[df['gestationalAgeAtDeliveryInWeeks'] < 34], inplace=True)

In [157]:
df.info()
# 196 records remaining, 4 removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 0 to 199
Data columns (total 57 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Participant ID                   196 non-null    object
 1   GDMDiagnosisDate                 196 non-null    datetime64[ns]
 2   estimatedDeliveryDate            196 non-null    datetime64[ns]
 3   maternalAgeAtBirth               196 non-null    int64
 4   OGTTfasting                      196 non-null    float64
 5   OGTT2hour                        196 non-null    float64
 6   maternalWeightAtBooking          196 non-null    float64
 7   maternalHeight                   196 non-null    int64
 8   maternalBMIAtBooking             196 non-null    float64
 9   maternalWeight3rdTrimester       196 non-null    float64
 10  prevMacrosomia                   196 non-null    object
 11  eclampsiaFH                      196 non-null    object
 12  gestationalPre-eclampsia         196 non-null    object
 13  pcos                             196 non-null    object
 14  hypertensionFH                   196 non-null    object
 15  gestationalHypertension          196 non-null    object
 16  ethnicity                        196 non-null    object
 17  gestationalAgeAtGDMDiagnosis     196 non-null    int64
 18  gravidity                        196 non-null    int64
 19  parity                           196 non-null    int64
 20  previousGDM                      196 non-null    object
 21  familyHistoryDiabetes            196 non-null    object
 22  familyHistoryGDM                 196 non-null    object
 23  GDMLifestyleGestWeek             196 non-null    int64
 24  GDMDietGestWeek                  196 non-null    int64
 25  GDMMetforminGestWeek             51 non-null     float64
 26  GDMInsulinGestWeek               53 non-null     float64
 27  metforminFlag                    196 non-null    object
 28  insulinFlag                      196 non-null    object
 29  meanBG                           196 non-null    float64
 30  maxBG                            196 non-null    float64
 31  minBG                            196 non-null    float64
 32  varBG                            194 non-null    float64
 33  countBG                          196 non-null    int64
 34  stdBG                            194 non-null    float64
 35  lowBG                            196 non-null    float64
 36  normalBG                         196 non-null    float64
 37  highBG                           196 non-null    float64
 38  meanAC                           196 non-null    float64
 39  maxAC                            196 non-null    float64
 40  minAC                            196 non-null    float64
 41  varAC                            195 non-null    float64
 42  rangeAC                          196 non-null    float64
 43  meanEFW                          196 non-null    float64
 44  maxEFW                           196 non-null    float64
 45  minEFW                           196 non-null    float64
 46  varEFW                           195 non-null    float64
 47  rangeEFW                         196 non-null    float64
 48  foetalDOB                        196 non-null    datetime64[ns]
 49  vaginalBirth                     196 non-null    object
 50  caesareanBirth                   196 non-null    object
 51  foetalSex                        196 non-null    object
 52  foetalWeightInGrams              196 non-null    int64
 53  gestationalAgeAtDeliveryInWeeks  196 non-null    int64
 54  lga                              0 non-null      float64
 55  sga                              0 non-null      float64
 56  birthOutcome                     196 non-null    object
dtypes: datetime64[ns](3), float64(27), int64(10), object(17)
memory usage: 88.8+ KB

In [158]:
df.to_csv("nhsDataFinal.csv", index=False)

# determine LGA infants
# drop features after prediction point (max 38 weeks)

In [4]:
df= pd.read_csv('nhsDataFinal.csv')

In [5]:
df['countBG'].min()

1

In [6]:
df['countBG'].max()

561

In [ ]:
# FILL IN LGA FIELD